<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{109,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{109,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{216,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{216,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{323,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{323,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{430,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{430,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>24.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{537,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>25.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{537,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>26.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{644,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>28.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{644,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>29.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{751,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>30.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{751,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>31.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>32.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{858,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>33.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{858,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>34.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>35.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{965,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>36.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{965,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>37.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>38.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1072,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>39.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1072,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>40.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1179,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>41.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1179,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>42.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>43.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1286,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>44.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1286,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>45.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>46.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1393,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>47.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1393,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>48.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>49.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1500,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1500,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>50.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>51.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1607,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>52.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1607,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>53.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>54.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1821,2},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1714,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1821,154},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1714,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
            <key>9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1821,306},{105,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,150}}</string>
                <key>sourceSize</key>
                <string>{105,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1928,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007a7ce59f48110691ffacb366f47556:a2927be72bf7a2b4ef70660e35c41ceb:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
